:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Kalam, sans-serif;

  /* text colors */
  --main-txt-color: #231D21;
  --accent-txt-color: #0073DD;

  /* bg coloros */  
  --main-bg-color: #F5FAFF;
  --btn-bg-color: #11213A;

  /* others */
  // --main-border-color: #ffe550;
  --btn-txt-color: #F1F1F1;
  --txt-color-copy: #6F6F6F;

  

  /* modal */

}
