<section class="drevena">
  <div class="drevena__container container">
    <h2 class="drevena__title">Drevena</h2>
    <ul class="drevena__list list">
      <li class="drevena__item">
        <h3 class="drevena-kind__title">Naturo 68</h3>
        <ul class="drevena-tech__list list">
          <li class="drevena-tech__item">
            <p>1.3 Uw, když Ug=1,0(hliníková vložka)</p>
          </li>
          <li class="drevena-tech__item"><p>2 těsnění</p></li>
          <li class="drevena-tech__item"><p>5 komor</p></li>
        </ul>
        <div class="drevena__pic">
          <img
            srcset="
              ./images/okna_drevena/naturo_68_100.jpg 100w,
              ./images/okna_drevena/naturo_68_100.jpg 200w
            "
            sizes="(min-width: 1200px) 270px, (min-width: 744px) 111px, (min-width: 320px) 100px"
            src="./images/okna_drevena/naturo_68_100.jpg"
            alt="Naturo 68"
            width="111"
            height="170"
            class="drevena__img"
          />
        </div>
      </li>
      <li class="drevena__item"></li>
      <li class="drevena__item"></li>
    </ul>
    <div class="drevena__catalog">
      <div class="drevena__kind">
        <p class="drevena__descr">Uw, když</p>
        <p class="drevena__descr">těsnění</p>
        <p class="drevena__descr"></p>
      </div>
      
    </div>

    <button class="drevena__btn btn" type="button" data-modal-main-open>
      Kontaktujte nás
    </button>
  </div>
</section>
