<section class="drevena">
  <div class="drevena__container container">
    <h2 class="drevena__title">Drevena</h2>
    <ul class="drevena__list list">
      <li class="drevena__item">
        <h3 class="drevena-kind__title">Naturo 68</h3>
        <ul class="drevena-tech__list list">
          <li class="drevena-tech__item">
            <p>1.3 Uw, když Ug=1,0(hliníková vložka)</p>
          </li>
          <li class="drevena-tech__item"><p>2 těsnění</p></li>
          <li class="drevena-tech__item"><p>5 komor</p></li>
        </ul>
        <div class="drevena__pic">
          <picture>
      
        <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->
       
        <source
          media="(min-width: 744px)"
          srcset="
            ../src/images/okna_drevena/naturo_68_111m.webp 1x,
            ../src/images/okna_drevena/naturo_68_222m.webp 2x
          "
          type="image/webp"
        />
      
        <source
          media="(min-width: 390px)"
          srcset="
            ../src/images/okna_drevena/naturo_68_100.webp 1x,
            ../src/images/okna_drevena/naturo_68_200.webp 2x
          "
          type="image/webp"
        />
        <img
          class="drevena__img"
          alt="naturo_68"
          src="../src/images/okna_drevena/naturo_68_100.webp"
        />
      </picture>
        
        </div>
      </li>
      <li class="drevena__item"></li>
      <li class="drevena__item"></li>
    </ul>
    
      
    </div>

    <button class="drevena__btn btn" type="button" data-modal-main-open>
      Kontaktujte nás
    </button>
  </div>
</section>
