.produkty__title {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(44 / 32);
  color: var(--main-txt-cl);
  text-align: center;
  margin-bottom: 20px;
}

.produkty__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.produkty__item {
  // display: none;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 102px;
  height: 112px;
  background-color: var(--light-bg-cl);

  margin-bottom: 30px;
}

.produkty__descr {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--main-txt-color);
}
